.App{
    padding-top: 3.5rem;
    text-align: center;
}


.card{
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: min(320px, 100vw);
    padding: .5rem 0;
}

.flex-container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    margin: auto;
}