@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&family=Poppins:wght@100;200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.s{
  font-family: 'Cormorant', serif;
}
.ss{
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root:has(.mode-switch:checked){
  --color-primary: black;
  --color-background: white;
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

:root{
  --color-primary: #FFE5F1;
  --color-background: #16003B;
  --box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 3px 0px, rgba(255, 255, 255, 0.06) 0px 1px 2px 0px;
}

body{
  background-color: var(--color-background);
  color: var(--color-primary);
  text-align: center;
}

.card{
  font-weight: 200;
  font-size: 1.5rem;
}





.thumbnail{
  object-fit: contain;
  width: 10rem;
  height: 10rem;
}
 tr, td, th{
  border: 1px solid rgba(128, 128, 128, 0.459);
  padding: .5rem 1rem;
}


th{
  background-color: rgb(187, 187, 187);
}




*{
  box-sizing: border-box;
}

img{
  max-width: 100%;
  width: 100%;
}

button.btn-primary{
  cursor: pointer;
  background-color: transparent;
  border: 1px solid currentColor;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
}

button.btn-secondary{
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-background);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
}

button:has(svg){
  box-shadow: none;
  border: none;
}

*:has(.tooltip){
  position: relative;
}

a{
  color: var(--color-primary);
  text-decoration: none;
}

.products-page{
  display: inline-block;
  margin-top: 2rem;
  width: calc(100vw - 30rem);
  overflow: scroll;
  padding-inline: 1rem;
}

div.filter{
  padding: 1rem;
  display: flex;
  gap: 1rem;
}


@media screen and (max-width: 1024px){

.products-page{
  width: 100vw !important;
  overflow: scroll;
  padding-inline: 1rem;
}
.products-page table{
  max-width: 90vw;
  overflow: scroll;
  margin: 0 auto;
  border-collapse: collapse;
}

}
